<section id="hero">
  <div class="row">
    <div class="small-12 column">
      <h1>FoonWiki</h1>
      <h3 class="subheader">An ambient wiki, like an atmosphere.</h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="small-4 columns end">
      <form id="towiki">
        <div class="row collapse">
          <div class="small-10 columns">
            <input type="text" name="wikiname" placeholder="Name of Wiki">
          </div>
          <div class="small-2 columns">
            <a id="gobutton" class="button postfix">Go</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<section id="wikilinks">
  <div class="row centered-text">
    <div class="small-4 columns">
      <h4>Pages You have Seen</h4>
      <ul class="undotted">
        <br>
        <li style="text-align:right">
          view all >
        </li>
      </ul>
    </div>
    <div class="small-4 columns">
      <h4>Newly Created Pages</h4>
      <ul class="undotted">
        {{range .NewPages}}
        <li>
          {{.Name}}
        </li>
        {{end}}
        <br>
        <li style="text-align:right">
          view all >
        </li>
      </ul>
    </div>
    <div class="small-4 columns">
      <h4>Recently Updated Pages</h4>
      <ul class="undotted">
        {{range .UpdatedPages}}
        <li>
          {{.Name}}
        </li>
        {{end}}
        <br>
        <li style="text-align:right">
          view all >
        </li>
      </ul>
    </div>
  </div>
</section>
