<section id="hero">
  <div class="row">
    <div class="small-12 column">
      <h1>FoonWiki</h1>
      <h3 class="subheader">An ambient wiki, like an atmosphere.</h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <form id="towiki">
        <div class="row collapse">
          <div class="small-10 columns">
            <input type="text" name="wikiname" placeholder="Name of Wiki">
          </div>
          <div class="small-2 columns">
            <a id="gobutton" class="button postfix">Go</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
