<section id="hero">
  <div class="row">
    <div class="small-12 column">
      <h1>FoonWiki</h1>
      <h3 class="subheader">An ambient wiki, like an atmosphere.</h3>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-4 columns end">
      <a href="/pages/new" class="button radius"><i class="fa fa-arrow-right fa-fw"></i> Create New Page</a>
    </div>
  </div>
</section>
<section id="wikilinks">
  <div class="row centered-text">
    <div class="small-12 large-4 columns">
      <h4>Pages You have Seen</h4>
      <ul class="undotted">
        <br>
        <li style="text-align:right">
          view all <i class="fa fa-chevron-circle-right"></i>
        </li>
      </ul>
    </div>
    <div class="small-12 large-4 columns">
      <h4>Recently Updated Pages</h4>
      <ul class="undotted">
        {{range .UpdatedPages}}
        <li>
          <a href="/?id={{.Id}}">{{.Name}}</a>
        </li>
        {{end}}
        <br>
        <li style="text-align:right">
          <a href="/pages?sortedby=updated">view all <i class="fa fa-chevron-circle-right"></i></a>
        </li>
      </ul>
    </div>
    <div class="small-12 large-4 columns">
      <h4>Newly Created Pages</h4>
      <ul class="undotted">
        {{range .NewPages}}
        <li>
          <a href="/?id={{.Id}}">{{.Name}}</a>
        </li>
        {{end}}
        <br>
        <li style="text-align:right">
          <a href="/pages?sortedby=created">view all <i class="fa fa-chevron-circle-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
