<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <script src="/js/vendor/modernizr.js"></script>
</head>
<body>
  <div class="row">
    <div class="small-12 column">
      <h1>{{.Name}}</h1>
      <p>{{.Content}}</p>
      <form action="{{.Name}}" method="POST">
        <textarea name="content"></textarea>
        <br>
        <input type="submit" value="save">
      </form>
    </div>
  </div>
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/fastclick.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
