<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">FoonWiki</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><a href="/{{.WikiName}}">{{.WikiName}}</a></li>
      <li class="divider"></li>
      <li class="active">
        <a href="#">{{.Page.Name}}</a>
      </li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
<div class="row">
  <div class="small-12 column">
    <h1>{{.Page.Name}}</h1>
    <p>{{.Page.Content}}</p>
    <form action="{{.Page.Name}}" method="POST">
      <textarea name="content"></textarea>
      <br>
      <input type="submit" value="save">
    </form>
  </div>
</div>
