<div class="row">
  <div class="small-12 column">
    <h3 id="pagename" contenteditable=true placeholder="no title">{{.Page.Name}}</h3>
    <div id="content" contenteditable=true>{{.Page.Content}}</div>
    <form id="contents" action="/pages/{{.Page.Id}}" method="POST">
      <input type="submit" value="save">
    </form>
  </div>
</div>
