{{$wiki := .Wiki.Name}}
<div class="row">
  <div class="small-12 column">
    <h1>{{$wiki}}</h1>
    <ul>
      {{range .Wiki.Pages}}
      <li><a href={{$wiki}}/{{.Name}}>{{.Name}}</a></li>
      {{end}}
    </ul>
  </div>
</div>
