{{$wiki := .Wiki.Name}}
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">FoonWiki</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li class="active"><a href="#">{{$wiki}}</a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>
<div class="row">
  <div class="small-12 column">
    <h1>{{$wiki}}</h1>
    <ul>
      {{range .Wiki.Pages}}
      <li><a href={{$wiki}}/{{.Name}}>{{.Name}}</a></li>
      {{end}}
    </ul>
  </div>
</div>
